.wrapper {
    width: 100%;
    text-align: left;
    min-height: 150px;
    margin: 0 auto;
}

/*===============section===============*/
.flexContainer {
    display: flex;
    justify-content: center;
}
.post_head {
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: bold;
    font-size: 12pt;
    margin-bottom: 5px;
}
.post_body {
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 9pt;
    color: black;
}
.post_info {
    margin-top: 5px;
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 8pt;
    color: gray;
}
.imageCenter {
    display: flex;
    align-items: center;
    justify-content: center;
}
.centered-image {
    width: 70%; /* or any width you desire */
}
/*=====================================*/



/*===============footer===============*/

/*=========================================*/